body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 200px;

}

.Logo {
    font-size: 24px;
    color: #f9faf8;
}

.links-header {
    display: flex;
    gap: 23px;
}

.imgplaceholder {
    width: 400px;
    height: 250px;
    background-color: blue;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px
}

.partone {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1f2937;
    color: white;
    padding-top: 10px;
}

.textmain h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.textmain p {
    font-size: 18px;
    color: #e5e7eb;
}

.h1img {
    width: 1400px;
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
}

.textmain {
    display: flex;
    flex-direction: column;
    max-width: 330px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: #3882f6;
    border: none;
    transition: 0.3s;
    color: #e5e7eb;
}

button:hover {
    background-color: white;
}

.parttwo {
    display: flex;
    flex-direction: column;
}

.parttwo h2 {
    text-align: center;
    padding: 23px;
}

.gatos {
    width: 200px;
    border-radius: 8px;
}

.randomimg {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.partthree {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 60px;
}

.quote {
    max-width: 780px;
}

.name {
    margin-left: 30%;
}

.partfour {
    display: flex;
    justify-content: center;
}

.box {
    border-radius: 12px;
    margin: 60px;
    padding: 30px;
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 50px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.box .signup {
    align-self: center;
    border: solid 1px white;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}